* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
width: 100%;
}

/* define o tamanho da caixa */
.container {
margin: 0 auto;
width: 100%;
max-width: 960px;
}


/* --- Mobile First--- */

/* NAV  --- NAV  --- NAV */

.navegacao {
background-color: #674582;
box-shadow: 0px 5px 5px rgba(0,0,0,.2);
padding: 24px;
z-index: 99; 
position: fixed;
width: 100%;
}

.navegacao__logo {
max-width: 200px;
}

.navegacao__box {
display: flex;
align-items: center;
justify-content: space-between;
width: 90%;
}

/* define o tamanho da caixa */
.container {
margin: 0 auto;
width: 100%;
max-width: 960px;
}

.navegacao__itens {
display: none;
}

.navegacao__menu-hamburguer img {
border-radius: 2px;
}



/* HEADER  --- HEADER  --- HEADER */

.header {
min-height: 40px; 
height: 500px;
background: linear-gradient(rgba(255, 0, 255, 0.2),
                            rgba(255, 0, 255, 0.2)),
          url(img/marguerite\ header\ novo.jpg)
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: flex-end;
text-align: center;
color: white;
}

.principal {
margin-bottom: 20px;
}

.principal__titulo {
text-transform: uppercase;
font-size: 22px;
font-weight: 900;
}

.principal__sub {
font-weight: 300;
margin: 10px 0 16px 0;
font-size: 18px;

}

/* --- MAIN --- */

.intro {


}

.sobre {

  
}
.frase {


}

.historia {

}

.autora {
  display: inline-block;
  flex-wrap: wrap;


}

.botao {

}
/* --- FOOTER --- */

.rodape {
background-color: #323534;
color: white;
display: flex;
flex-direction: column;
align-items: center;
}

.rodape__principal {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;
}

.rodape__principal > * {
margin: 16px 0;
}

.rodape__navegacao > li {
font-size: 14px;
margin: 8px;
}

.rodape__navegacao a {
transition: all .5s;
}

.rodape__navegacao a:hover {
color: #C083B9;
}

.rodape__logo {
max-width: 200px;
align-items: center;
justify-content: center;
}

.rodape__cc {
width: 100%;
background-color: #292A2A;
font-size: 14px;
opacity: 0.5;
text-align: center;
padding: 10px;
}

/*  --- TABLET --- --- TABLET --- */

@media (min-width: 768px) {
/* --- NAV --- */
.navegacao__itens {
  position: static;
  display: flex;
  padding: 0;
  width: auto;
}

.navegacao__nav { 
  color: #fff;
  margin-bottom: 0;
}
  
.navegacao__itens ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-align: center;
}
  
  .navegacao__itens li {
  font-size: 14px;
  margin: 0 9px;
}

.navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  background-color: #674582;
  text-align: center;
  padding: 48px 0;
  transition: right 1s;
}

.navegacao__itens li > a {
  transition: all .2s;
}

.navegacao__itens li > a:hover {
  color: #C083B9;
}
  
.navegacao__menu-hamburguer {
  display: none;
}

/* --- HEADER --- */
 .header {
    min-height: 75vh;
    text-align: left;
    padding: 10px 100px;
  }

  .principal__titulo {
      font-size: 28px;
  }
  
  .principal__sub {
      font-size: 18px;
  }

  .principal__btn {
      margin: 0;
  }
}
/* --- SECTION mMARAVILHOSA --- */
  
  .maravilhosas__box > div {
      max-width: 74px;
      margin: 84px;
  }

  .maravilhosas__perfil p {
      font-size: 18px;
      text-align: center;
      margin-top: 14px;
  }


/* --- FOOTER --- */

.rodape {
padding-top: 0;
}

.rodape__principal {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.rodape__logo img {
max-width: 300px;
}

.rodape__navegacao > li {
 font-size: 14px;
}

.rodape__redes-sociais img {
  max-width: 32px;
  margin-right: 8px;
}

}

/* --- DESKTOP--- --- DESKTOP--- --- DESKTOP--- --- DESKTOP---   */

@media (min-width: 1200px) {
.navegacao__box {
  max-width: 80%;
}

.header {
  min-height: 90vh;
}

.navegacao__itens li {
 font-size: 24px;
  margin: 0 16px;
}

.principal {
  max-width: 650px;
}

.principal__titulo {
  font-size: 26px;
  padding: 40px 200px 0px px;
}

.principal__sub {
  font-size: 18px;
  padding: 0px 400px 0px 0px;
}

.maravilhosas__perfil a img {
  width: 280%;
  border-radius: 10px;
}


}  

