* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */

.img-responsive {
  width: 100%;
}

/* define o tamanho da caixa */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

/* --- Mobile First--- */

/* NAV  --- NAV  --- NAV */

.navegacao {
  background-color: #674582;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
  padding: 24px;
  z-index: 99;
  position: fixed;
  width: 100%;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

/* define o tamanho da caixa */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.navegacao__itens {
  display: none;
}

.navegacao__menu-hamburguer img {
  border-radius: 2px;
}

/* HEADER  --- HEADER  --- HEADER */

.header {
  min-height: 40px;
  height: 500px;
  background: linear-gradient(rgba(255, 0, 255, 0.2), rgba(255, 0, 255, 0.2)), url(../../autora/mariana-herreros/img/marianah-foto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  align-items: center;
  color: white;
}

.principal {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.principal__titulo {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

/* --- main e div mãe--- */

.introducao {
  display: flex;
  justify-content: center;
  color: #63458A;
  padding: 5px;
  margin-top: 30px;
}

.sobre-autora {
  display: flex;
  display: inline-flex;
  align-items: center;
  margin-left: 40px;
  color: #63458A;
  align-content: center;
}

.foto-perfil {
  height: 94px;
  width: 94px;
  left: 49px;
  top: 571px;
  border-radius: 5px;
}

.container_redes_sociais {
  display: flex;
  justify-content: center;
}

.redes-sociais {
  display: flex;
  display: inline;
  font-size: 14px;
  color: #63458A;
  font-weight: bold;
  padding: 5px;
}

p {
  height: 76px;
  width: 154px;
  left: 159px;
  top: 545px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  line-height: 11px;
  letter-spacing: 0em;
  font-weight: 400;
  margin: 40px;
  margin-top: 6px;
}

.fotomaravilhosa {
  height: 94px;
  width: 94px;
  left: 49px;
  top: 571px;
  border-radius: 5px;
}

hr {
  height: 0px;
  width: 200px;
  margin-left: 80px;
  top: 711px;
  border: 1px solid;
  color: #63458A;
  margin-top: 20px;
  margin-bottom: 20px;
}

.final {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  color: #63458A;
  margin-bottom: 20px;
}

#titulo-maravilhosas {
  margin-left: 85px;
  margin-top: 10px;
  color: #63458A;
}

.redes-sociais-titulo {
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #63458A;
  margin-left: 20px;
}

.separador>p {
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 49px;
  width: 263px;
  height: 70px;
  color: #63458A;
  margin-top: 20px;
}

.separador-foto {
  border-radius: 5px;
  width: 264px;
  left: 49px;
  top: 980px;
  display: flex;
  flex-direction: center;
  margin-left: 50px;
}

.titulo-foto {
  font-family: Montserrat;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 120px;
  color: #63458A;
  margin-top: 10px;
}

/* --- BOTAO --- */

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px;
  border-radius: 5px;
  font-size: 14px;
}

.btn_roxo {
  color: white;
  background-color: #C083B9;
  display: block;
  max-width: 200px;
  text-align: center;
  transition: all .5s;
  margin: 0 auto;
  margin-bottom: 80px;
}

.btn_roxo:hover, .btn_roxo:focus {
  transform: translateY(-06px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
  background-color: rgb(192, 156, 188);
}

.btn_center {
  margin: 0 auto;
}

/* --- FOOTER --- */

.rodape {
  background-color: #323534;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape__principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.rodape__principal>* {
  margin: 16px 0;
}

.rodape__navegacao>li {
  font-size: 19px;
  margin: 8px;
}

.rodape__navegacao a {
  transition: all .5s;
}

.rodape__navegacao a:hover {
  color: #C083B9;
}

.rodape__logo {
  max-width: 200px;
  align-items: center;
  justify-content: space-around;
}

.rodape__redes-sociais>a {
  margin-left: 10px;
}

.rodape__cc {
  width: 100%;
  background-color: #292A2A;
  opacity: 0.5;
}

.rodape__cc>p {
  width: 100%;
  margin-left: 10px;
  padding: 30px;
  margin-bottom: 0px;
  font-size: 10px;
}

/*  --- TABLET --- --- TABLET --- */

@media (min-width: 768px) {
  /* NAV  --- NAV  --- NAV */
  .navegacao__itens {
    position: static;
    display: flex;
    padding: 0;
    width: auto;
  }
  .navegacao__nav {
    color: #fff;
    margin-bottom: 0;
  }
  .navegacao__itens ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .navegacao__itens li {
    font-size: 14px;
    margin: 0 9px;
  }
  .navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 48px 0;
    transition: right 1s;
  }
  .navegacao__itens li>a {
    transition: all .2s;
  }
  .navegacao__itens li>a:hover {
    color: #C083B9;
  }
  .navegacao__menu-hamburguer {
    display: none;
  }

  .navegacao__box {
    justify-content: space-between;
    width: 90%;
  }
  /* HEADER  --- HEADER  --- HEADER */
  .header {
    background: linear-gradient(rgba(255, 0, 255, 0.2), rgba(255, 0, 255, 0.2)), url(../../autora/mariana-herreros/img/maribanner2.png);
    color: white;
    background-size: cover;
  }
  /* --- main e div mãe--- */

  hr {
    height: 0px;
    width: 200px;
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  } 

  h2 {
    margin-left: 200px;
  }
  .foto-perfil {
    height: 189px;
    width: 200px;
    border-radius: 7px;
    margin-bottom: 10px;
  }
  .introducao {
    display: flex;
    justify-content: center;
    color: #63458A;
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .sobre-autora {
    display: flex;
    margin-left: 40px;
    color: #63458A;
    align-content: center;
  }
  p {
    height: 89px;
    width: 500px;
    font-size: 14px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0em;
    font-weight: 400;
    margin-left: 100px;
    margin-bottom: 80px;
  }
  .separador>p {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 300px;
    line-height: 20px;
    text-align: center;
    margin-left: 80px;
    width: 600px;
    height: 50px;
    color: #63458A;
  }
  .separador-foto {
    border-radius: 5px;
    width: 664px;
    height: 83;
    margin-left: 50px;
  }
  .titulo-foto {
    font-size: 14px;
    margin-left: 300px;
    margin-bottom: 10px;
  }
  .final {
    width: 150px;
    display: inline-block;
  }

  #titulo-maravilhosas {
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .redes-sociais-titulo {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  /* --- FOOTER --- */
  .rodape__principal {
    display: flex;
    flex-direction: row;
    width: 90%;
  }
  .rodape__cc {
    width: 100%;
    background-color: #292A2A;
    opacity: 0.5;
  }
  .rodape__cc>p {
    width: 100%;
    font-size: 10px;
    height: 59px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

/* --- DESKTOP--- --- DESKTOP--- --- DESKTOP--- --- DESKTOP---   */

@media (min-width: 1440px) {
  
  .navegacao__box {
    max-width: 1600px;
  } 

  /* HEADER  --- HEADER  --- HEADER */
  .header {
    background: linear-gradient(rgba(255, 0, 255, 0.2), rgba(255, 0, 255, 0.2)), url(../../autora/mariana-herreros/img/maribanner.png);
    color: white;
    background-size: cover;
  }

  /* --- main e div mãe--- */

 
  hr {
   margin-left: 380px;  
  } 


  h2 {
    margin-left: 310px;
  }
  
  .separador>p {
    height: 162px;
    width: 1000px;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    margin-left: 0px;
    margin-right: 700px;
    margin-bottom: 10px;
  }
  
  .separador-foto {
    height: 393px;
    width: 1000px;
    left: 385px;
    top: 1821px;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 700px;
  }

  .titulo-foto {
    font-size: 14px;
    margin-left: 400px;
    margin-bottom: 10px;
  }

  .final {
    width: 150px;
    display: inline-block;
    margin-left: 40px;
  }

  #titulo-maravilhosas {
    margin-left: 380px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  
}