* {
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
    width: 100%;
}

/* define o tamanho da caixa */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

/* --- Mobile First--- */
/* NAV  --- NAV  --- NAV */

.navegacao {
    background-color: #674582;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 24px;
    z-index: 99;
    position: fixed;
    width: 100%;
}

.navegacao__logo {
    max-width: 200px;
}

.navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

/* define o tamanho da caixa */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.navegacao__itens {
    display: none;
}

.navegacao__menu-hamburguer img {
    border-radius: 2px;
}

/* HEADER  --- HEADER  --- HEADER */

.header {
    min-height: 40px;
    height: 800px;
    background: url(../carla-oliveira/imagens/Carla-banner.gif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.principal {
    margin-bottom: 20px;
}

.principal__titulo {
    color: #ecd2e9;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px 2px #df32a5;
}

/* MAIN  --- MAIN  --- MAIN*/
main {
    margin-right: 30px;
    margin-left: 30px;
    
}

p {
    line-height: 2;
    color: #652995;
    font-size: 12px;
    margin-bottom: 15px;
}

.sobre {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    
}

.sobre_titulo {
    display: flex;
    flex-direction: row;
    margin-bottom:30px;
   
}

.titulo_nome {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.parte-1 {
    display: flex;
    width: 100%;
    font-size:8px;
}

.linha {
    width: 200px;
    background-color: #652995;
    height: 003px;
}

.projeto {
    margin-bottom: 30px;
    width: 100%;
 
}

.turma-ft {
    width: 100%;
    min-height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.carla-photo {
    width: 94px;
    height: 94px;
    border-radius: 5px;
    margin-right: 15px;
}

.parte-2{
    margin:30px;
}

#grace{color: #5c0d81;
    font-weight: bolder;

}

.redes{
    margin:30px;
    color: #5c0d81;
    font-weight: bolder;
}

.linha{
    margin:50px ;
}

/* OUTRAS MARAVILHOSAS */

.maravilhosas {
  display: flex;
  flex-direction: column;
  margin-right:100px;
  margin-left:50px; 
   
}

.maravilhosas a {
    margin-left:50px;
    margin-bottom:20px; 
}

.maravilhosa-ft {
    width: 200px;
    height: 200px;
    margin-top:30px;
   
}

/* --- BOTAO --- */

.btn {
    font-weight: bold;
    padding: 16px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin:50px;
}

.btn_roxo {
    color: white;
    background-color: #682a85;
    display: block;
    max-width: 200px;
    transition: all 0.5s;
    margin: 0 auto;
}

.btn_roxo:hover,
.btn_roxo:focus {
    transform: translateY(-06px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(192, 156, 188);
}

.btn_center {
    margin: 0 auto;
}

/* --- FOOTER --- */

.rodape {
    background-color: #323534;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.rodape__principal > * {
    margin: 16px 0;
}

.rodape__navegacao > li {
    font-size: 14px;
    margin: 8px;
}

.rodape__navegacao a {
    transition: all 0.5s;
}

.rodape__navegacao a:hover {
    color: #c083b9;
}

.rodape__logo {
    max-width: 200px;
    align-items: center;
    justify-content: center;
}

.rodape__cc {
    width: 100%;
    background-color: #292a2a;
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    padding: 10px;
}

/*  --- TABLET --- --- TABLET --- */
@media (min-width: 768px) {
    /* --- NAV --- */
    .navegacao__itens {
        position: static;
        display: flex;
        padding: 0;
        width: auto;
    }

    .navegacao__nav {
        color: #fff;
        margin-bottom: 0;
    }

    .navegacao__itens ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .navegacao__itens li {
        font-size: 14px;
        margin: 0 9px;
    }

    .navegacao__itens.ativo {
        display: block;
        right: 0;
        top: 85px;
        width: 100%;
        background-color: #674582;
        text-align: center;
        padding: 48px 0;
        transition: right 1s;
    }

    .navegacao__itens li > a {
        transition: all 0.2s;
    }

    .navegacao__itens li > a:hover {
        color: #c083b9;
    }

    .navegacao__menu-hamburguer {
        display: none;
    }

    /*HEADER*/
    .principal__titulo {
        color: #ecd2e9;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 900;
        text-shadow: 2px 2px 2px #df32a5;
    }

    /* MAIN  --- MAIN  --- MAIN*/

    main {
        margin-right: 15px;
        margin-left: 15px;

    }

    .titulo_nome{
        font-size:30px;
        margin-left:200px;

    }

    .sobre p{
        font-size:20px; 
        display:flex;
    }

    .carla-photo {
        width: 350px;
        height: 150px;
        border-radius: 5px;
        margin-right: 15px;
    }

    .parte-2{
        margin-left:250px;
       
    }

    .redes{
        margin-left:310px;
        font-size:18px;
    }

    .linha{
        width:360px;
        height:4px;
        margin-left:280px;
    }

    /*PROJETO--------------------PROJETO*/

    .projeto p{
        font-size:22px;
        margin-bottom:40px;
    }

    .maravilhosas{
        align-items: center;
        display: flex;
        flex-direction: row;
               
    }

    .m-foto{
        margin-left:20px;
    }

    figcaption{
        margin-bottom:30px;
        margin-left:250px ;
        font-size:18px ;
    }

 
    /* --- FOOTER --- */

    .rodape {
        padding-top: 0;
    }

    .rodape__principal {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .rodape__logo img {
        max-width: 300px;
    }

    .rodape__navegacao > li {
        font-size: 14px;
    }

    .rodape__redes-sociais img {
        max-width: 32px;
        margin-right: 8px;
    }
}

/* --- DESKTOP--- --- DESKTOP--- --- DESKTOP--- --- DESKTOP---   */
@media (min-width: 1200px) {
    .navegacao__box {
        max-width: 80%;
    }

    .navegacao__itens li {
        font-size: 24px;
        margin: 0 16px;
    }

    .principal__sub {
        font-size: 18px;
        padding: 0px 400px 0px 0px;
    }


    /*MAIN ------------------MAIN-----------MAIN*/
    main {
        margin-right: 15px;
        margin-left: 0px;

    }

    .principal__titulo{
        font-size:80px;
    }
    
    .sobre .titulo_nome{
        font-size: 30px;
    }

    .carla-photo {
        height: 250px;
        border-radius: 5px;
        margin-right: 15px;
    }
/*Projeto--------------*/
    .projeto p{
        font-size:22px;
        margin-bottom:40px;
    }

    .turma-ft{
        margin-top:40px;
        margin-bottom:5px;
    }

    figcaption{
        margin-bottom:40px;
        margin-left:350px ;
        font-size:18px ;
    }

    .maravilhosas{
        align-items: center;
        display: flex;
        flex-direction: row;
       
    }

    .m-foto{
        margin-left:80px;
    }

    .maravilhosas__perfil a img {
        width: 280%;
        border-radius: 10px;
    }
}
