* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  text-decoration: none;
  color: inherit;
}


ul {
  padding: 0;
}

li {
  list-style: none;
}


/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
  width: 100%;
}

/*HEADER ===>>> define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

/*=====>>body==<nav mãe>*/

.navegacao {
  background-color: #674582;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
  padding: 24px;
  z-index: 99;
  position: fixed;
  width: 100%;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/* define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.navegacao__itens {
  display: none;
}

.navegacao__menu-hamburguer img {
  border-radius: 2px;
}

/* HEADER  --- HEADER  --- HEADER */

.header {
  min-height: 80vh;
  height: 600px;
  width: 100%;
  background: linear-gradient(rgba(255, 0, 255, 0.2),
      rgba(255, 0, 255, 0.2)),
    url(../adalovelace/img/ada-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: white;
  align-content: center;
  justify-content: center;
}


.principal__titulo {
  text-transform: uppercase;
  font-size: 6.5rem;
  font-weight: 900;
  text-align: center;
}

/* --- MAIN --- */

main {
  color: #63458A;
}


/* --- SECTION MARAVILHOSA --- */

.ada {
  align-items: center;
  padding: 20px 190px;
}


.ada__title {
  text-align: center;
  font-size: 2.2rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.ada__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.ada__img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.ada__txt {
  width: 65%;
  padding: 40px 27px;
  font-size: 1.4rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.box {
  display: flex;
  align-items: center;
}

.box__border {
  align-items: center;
  border: 1px solid #674582;
  margin: 30px;
}

.box_txt {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 50px;
  text-align: center;
}

.historia {
  text-align: center;
  margin: 40px 20px;

}

.historia_title {
  text-align: left;
}

.historia__text {
  font-size: 1.4rem;
  margin: 25px 0;
  text-align: left;
}

.historia__img {
  position: relative;
  max-width: 100%;
  height: auto;
  width: 100%;
  max-height: 800px;
  justify-content: center;
  align-items: center;
}


/* --- AUTORA --- */
.autora {
  background: #E4B7E5;

}

.autora__container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.autora__img {
  width: 250px;
  height: auto;
}

.autora__links {
  display: block;
  margin-left: 25px;
  font-weight: bold;
  font-size: 1.2rem;
}

/* --- BOTAO LILAS --- */

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px;
  border-radius: 5px;
  font-size: 18px;
  ;
}

.btn_roxo {
  color: white;
  background-color: #C083B9;
  display: block;
  max-width: 200px;
  text-align: center;
  transition: all .5s;
  margin: 50px auto;
}

.btn_roxo:hover,
.btn_roxo:focus {
  transform: translateY(-1rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
  background-color: rgb(192, 156, 188);
}

.btn_roxo:active {
  transform: translateY(-.5rem);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.btn_center {
  margin: 0 auto;
}

/* --- FOOTER --- */

.rodape {
  background-color: #323534;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape__principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.rodape__principal>* {
  margin: 16px 0;
}

.rodape__navegacao>li {
  font-size: 14px;
  margin: 8px;
}

.rodape__navegacao a {
  transition: all .5s;
}

.rodape__navegacao a:hover {
  color: #C083B9;
}

.rodape__logo {
  max-width: 200px;
  align-items: center;
  justify-content: center;
}

.rodape__cc {
  width: 100%;
  background-color: #292A2A;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
  padding: 10px;
}

/*--RESPONSIVIDADE e MEDIA--- */


/*  --- TABLET --- --- TABLET --- */

@media (min-width: 768px) {

  /* --- NAV --- */
  .navegacao__itens {
    position: static;
    display: flex;
    padding: 0;
    width: auto;
  }

  .navegacao__nav {
    color: #fff;
    margin-bottom: 0;
  }

  .navegacao__itens ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .navegacao__itens li {
    font-size: 25px;
    margin: 0 9px;
  }

  .navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 48px 0;
    transition: right 1s;
  }

  .navegacao__itens li>a {
    transition: all .2s;
  }

  .navegacao__itens li>a:hover {
    color: #C083B9;
  }

  .navegacao__menu-hamburguer {
    display: none;
  }

  /* --- HEADER --- */
  .header {
    min-height: 75vh;
    text-align: left;
    padding: 10px 100px;
  }

  .principal__titulo {
    font-size: 3rem;
    padding-bottom: 1em;
  }

  .principal__sub {
    font-size: 18px;
  }

  .principal__btn {
    margin: 0;
  }
}

/* --- SECTION MARAVILHOSA --- */


/* --- FOOTER --- */

.rodape {
  padding-top: 0;
}

.rodape__principal {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.rodape__logo img {
  max-width: 300px;
}

.rodape__navegacao>li {
  font-size: 14px;
}

.rodape__redes-sociais img {
  max-width: 32px;
  margin-right: 8px;
}



/* --- DESKTOP--- --- DESKTOP--- --- DESKTOP--- --- DESKTOP---   */

@media (min-width: 1440px) {
  .navegacao__box {
    max-width: 80%;
  }

  .header {
    min-height: 90vh;
  }

  .navegacao__itens li {
    font-size: 24px;
    margin: 0 16px;
  }

  .principal {
    max-width: 90%;
  }

  .principal__titulo {
    font-size: 4rem;
    padding-bottom: 40px;
  }

  .principal__sub {
    font-size: 18px;
    padding: 0px 400px 0px 0px;
  }

  .maravilhosas__perfil a img {
    width: 280%;
    border-radius: 10px;
  }

  /*teste*/
}

@media screen and (max-width: 740px) {

  .ada {
    padding: 20px 20px;
  }

  .navegacao__menu-hamburguer {
    display: block;
  }

  .navegacao__itens {
    display: none;
  }

  .ada__container {
    align-items: center;
  }

  .ada__img {
    align-items: center;
  }

  .ada__txt {
    text-align: justify;
  }

  .box__border {
    align-items: center;
    border: 1px solid #674582;
    margin: 5px;
  }
}

@media screen and (min-width: 751px) and (max-width: 1080px) {
  .ada {

    padding: 20px 80px;
  }
}